/* General Styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #607d8b;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Container */
.container {
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Form Groups */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
    display: block;
}

.form-control, .form-control textarea, .form-control select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #607d8b;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea.form-control {
    height: 100px;
    resize: none;
}

select.form-control {
    appearance: none;
    background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4z'/></svg>") no-repeat right 10px center;
    background-size: 10px;
}

/* Buttons */
.btn-success {
    background-color: #607d8b;;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #5a6268;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    .form-control {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }
}
